<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="row">
        <div class="form-group">
            <input id="my-input" class="form-control" type="text">
            <div class="btn btn-block btn-danger">Save</div>
        </div>
    </div>
    <div class="container">
        <div class="form-group">
            <label for=""></label>
            <input type="file" class="form-control-file" name="" id="" placeholder="" aria-describedby="fileHelpId">
            <small id="fileHelpId" class="form-text text-muted">Help text</small>
        </div>
    </div>
</body>

</html>